workflows/multi-agent-social-media.json
{
  "name": "Social Media Multi-Agent Orchestrator",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi! I'm your Social Media Content Assistant. What would you like to create today? (e.g., 'A LinkedIn post about AI trends in 2024')"
      },
      "id": "e6f4b6a0-1234-4567-890a-bcdef1234567",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are the Social Media Content Orchestrator. Your goal is to manage the end-to-end creation of social media content.\n\n### YOUR PROCESS:\n1. **STRATEGY**: First, call the `Strategy_Agent` to analyze the user's request and define the angle, target, and tone.\n2. **RESEARCH**: Call the `Research_Tool` to find relevant facts, data, or current trends to enrich the content.\n3. **WRITING**: Call the `Writer_Agent` to compile the strategy and research into a compelling post.\n4. **IMAGE**: Call the `Image_Generation` tool to create a contextual illustration for the post.\n5. **DELIVERY**: Present the text and the image to the user.\n\n### HUMAN-IN-THE-LOOP & ITERATION:\n- If the user provides feedback (e.g., 'Make it more professional', 'Change the image'), analyze it.\n- If it's a validation (e.g., 'Perfect!'), thank them and finish.\n- If it's a request for modification, call the relevant tool (usually `Writer_Agent` for text or `Image_Generation` for a new image) with the user's feedback.\n- Always keep track of the conversation history to maintain context."
        }
      },
      "id": "a1b2c3d4-5678-90ab-cdef-1234567890ab",
      "name": "Supervision Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        250,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "mode": "id",
          "value": "gpt-4o"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "b1c2d3e4-5678-90ab-cdef-1234567890bc",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        200,
        250
      ]
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "c1d2e3f4-5678-90ab-cdef-1234567890cd",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        350,
        250
      ]
    },
    {
      "parameters": {
        "toolDescription": "Specialized agent for analyzing input and defining content strategy (angle, target, tone).",
        "text": "Analyze the request: {{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are the Strategy Agent. Your role is to take a raw user request and turn it into a clear content strategy.\nIdentify:\n- The core message (Angle)\n- The target audience\n- The appropriate tone of voice\n- The best social platform (if not specified)"
        }
      },
      "id": "d1e2f3a4-5678-90ab-cdef-1234567890de",
      "name": "Strategy_Agent",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        550,
        -150
      ]
    },
    {
      "parameters": {},
      "id": "e1f2a3b4-5678-90ab-cdef-1234567890ef",
      "name": "Research_Tool",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        650,
        -50
      ]
    },
    {
      "parameters": {
        "toolDescription": "Specialized agent for writing social media posts based on strategy and research data.",
        "text": "Write the post for: {{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are the Writing Agent. Your role is to write the final social media post.\n- Use the provided strategy (tone, target).\n- Incorporate the research facts.\n- Ensure the format is suitable for the platform (hashtags, emojis, structure)."
        }
      },
      "id": "f1a2b3c4-5678-90ab-cdef-1234567890fa",
      "name": "Writer_Agent",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        750,
        50
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "generate",
        "model": "dall-e-3",
        "prompt": "={{ $json.input }}",
        "options": {
          "returnImageUrls": true
        }
      },
      "id": "1a2b3c4d-5678-90ab-cdef-1234567890fb",
      "name": "Image_Generation",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 2.1,
      "position": [
        850,
        150
      ]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Supervision Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Supervision Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Strategy_Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Writer_Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Supervision Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Strategy_Agent": {
      "ai_tool": [
        [
          {
            "node": "Supervision Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Research_Tool": {
      "ai_tool": [
        [
          {
            "node": "Supervision Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Writer_Agent": {
      "ai_tool": [
        [
          {
            "node": "Supervision Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Image_Generation": {
      "ai_tool": [
        [
          {
            "node": "Supervision Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "12345678-1234-1234-1234-123456789012",
  "meta": {
    "templateId": "multi-agent-social-media"
  }
}