generated-workflows-examples/sub-agent.json
{
  "id": "KZ76pqxk7pJ5cZbU",
  "name": "SubAgent",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "systemprompt"
            }
          ]
        }
      },
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        1392,
        0
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{ $execution.id }}",
        "contextWindowLength": 15
      },
      "name": "💾 Mémoire",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1600,
        320
      ]
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1456,
        320
      ],
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "GoUHMO5ztQiNeJQM",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "description": "ResearchAgent that make Internet search ang page browsing",
        "workflowId": {
          "__rl": true,
          "value": "3Cu0jSkSkEf4b21e",
          "mode": "list",
          "cachedResultUrl": "/workflow/3Cu0jSkSkEf4b21e",
          "cachedResultName": "ResearchAgent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1760,
        320
      ],
      "name": "ResearchAgent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "={{ $json.systemprompt }}",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1616,
        0
      ],
      "name": "SubAgent"
    }
  ],
  "connections": {
    "💾 Mémoire": {
      "ai_memory": [
        [
          {
            "node": "SubAgent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "SubAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "SubAgent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ResearchAgent": {
      "ai_tool": [
        [
          {
            "node": "SubAgent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": [],
  "active": true,
  "projectId": "qL5Mq7XU9jjEcSqn",
  "projectName": "Personal",
  "homeProject": {
    "id": "qL5Mq7XU9jjEcSqn",
    "name": "Personal",
    "type": "personal"
  },
  "isArchived": false
}